@page "/SalesOrder/Create"
@inject HttpClient http
@inject NavigationManager uriHelper
@using ModelClass.Model;
@using  Newtonsoft.Json;
@using System.Net.Http.Headers;


<h3>Create Order</h3>

<EditForm Model="@salesorder" OnValidSubmit="@CreateSalesOrder">
    <div class="form-field">
        <label>Name:</label>
        <div>
            <label>Sales Order ID</label>
            <InputNumber @bind-Value="@salesorder.SalesOrderID" />
        </div>
        <div>
            <label>Ship Date</label>
            <InputDate @bind-Value="@salesorder.ShipDate" />
        </div>
        <div>
            <label>Ship Method</label>
            <InputText @bind-Value="@salesorder.ShipMethod" />
        </div>
    </div>

    <button type="submit" class="btn btn-success">
        Create Sales Order
    </button>

</EditForm>

@code {

    ModelClass.Model.SalesOrder salesorder = new ModelClass.Model.SalesOrder();

    async Task CreateSalesOrder()
    {
        //salesorder.shipm = 88888;





        //resonse = await http.PostJsonAsync("https://wacrmwebservice.azurewebsites.net/api/SalesOrderHeaders", salesorder);
        //     var datastring = JsonConvert.SerializeObject(salesorder);
        //     var content = new StringContent(datastring);
        //     content.Headers.ContentType = new MediaTypeHeaderValue("application/json");
        //     var response = await http.PostAsync("https://wacrmwebservice.azurewebsites.net/api/SalesOrderHeaders", content);
        //     string result = response.Content.ReadAsStringAsync().Result;
        //     Console.WriteLine(result);


        await http.PostJsonAsync("https://wacrmwebservice.azurewebsites.net/api/SalesOrderHeaders", salesorder);
        uriHelper.NavigateTo("/SalesOrder");
    }




}
